####################
# super strict mode
####################
auto-install-peers=false
strict-peer-dependents=true
resolve-peers-from-workspace-root=false

################
# Optimizations
################
# Less strict, but required for tooling to not barf on duplicate peer trees.
# (many libraries declare the same peers, which resolve to the same
#  versions)
peers-suffix-max-length=40
dedupe-injected-deps=true
dedupe-peer-dependents=true
public-hoist-pattern[]=ember-source
sync-injected-deps-after-scripts[]=build
sync-injected-deps-after-scripts[]=sync
inject-workspace-packages=true

################
# Compatibility
################
# highest is what everyone is used to, but
# not ensuring folks are actually compatible with declared ranges.
resolution-mode=highest