<div class="form-group">
  {{input type=type value=value placeholder=placeholder class="form-control" name=valuePath}}
  {{#if isValid}}
    <span class="valid-input fa fa-check"></span>
  {{/if}}

  <div class="input-error">
      {{#if showErrorMessage}}
          <div class="error">
              {{get (v-get model valuePath 'error') 'message'}}
          </div>
      {{/if}}

      {{#if showWarningMessage}}
        <div class="warning">
            {{get (v-get model valuePath 'warning') 'message'}}
        </div>
      {{/if}}
  </div>
</div>
