$accent-color: #f23818;

@import url("./navbar");
@import url("./form");
@import url("./code-snippet");

*,
::after,
::before {
  box-sizing: border-box;
}

body,
html {
  min-height: 100%;
  min-width: 100%;
  background-color: #f3f3f3;
  height: 100%;
  font-family: "Open Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
}

body {
  font-size: 14px;
  line-height: 1.4286;
  color: #333;
}

dl,
ol,
ul {
  margin-top: 0;
}

.content {
  display: flex;
  justify-content: center;
  padding: 25px;
  flex: 1 0 auto;
}
