.form {
  text-align: center;
  position: relative;
  background: #fff;
  width: 485px;
  padding: 40px;
  border-top: 5px solid $accent-color;
  border-radius: 3px;
  box-shadow: 5px 5px 10px 1px rgb(0 0 0 / 15%);
  z-index: 5;
  align-self: center;
}

.form input {
  outline: none;
  display: block;
  width: 100%;
  padding: 0 15px;
  border: 1px solid #d9d9d9;
  border-radius: 3px;
  color: #6e6e6e;
  font-family: Roboto, sans-serif;
  box-sizing: border-box;
  font-size: 14px;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transition: all 0.3s linear 0s;
  box-shadow: none;
}

.form .form-group {
  margin: 0 0 20px;
}

.form-control {
  height: 34px;
}

.has-success .form-control,
.has-error .form-control {
  border-color: #d9d9d9;
}

.has-error .form-control:focus,
.has-success .form-control:focus {
  box-shadow: none;
}

.has-error .form-control:focus {
  border-color: tomato;
}

.has-success .form-control:focus {
  border-color: rgb(31 187 20);
}

input.form-control:focus {
  color: #333;
  border-color: #b9b9b9;
  outline: none;
  box-shadow: none;
}

.form h2 {
  margin: -15px 0 25px;
  line-height: 1;
  color: $accent-color;
  font-size: 18px;
  font-weight: 400;
}

.form form h4 {
  margin-bottom: 20px;
  color: rgb(107 106 106);
  font-weight: 400;
  font-size: 16px;
}

.form .alert {
  position: relative;
  background: #f3f3f3;
  color: #666;
  font-size: 12px;
  margin-bottom: 20px;
  padding: 15px;
  text-align: left;
}

.form .alert .icon-remove {
  cursor: pointer;
  position: absolute;
  top: 50%;
  right: 10px;
  display: block;
  width: 16px;
  height: 16px;
  line-height: 16px;
  margin-top: -8px;
  float: right;
}

.form button {
  cursor: pointer;
  outline: none;
  background: $accent-color;
  width: 100%;
  padding: 10px 15px;
  margin-bottom: 25px;
  border: 0;
  border-radius: 3px;
  color: #fff;
  /* stylelint-disable-next-line font-family-no-missing-generic-family-keyword */
  font-family: Roboto;
  font-size: 14px;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transition: all 0.3s linear 0s;
}

.form .section {
  position: relative;
}

.section-info {
  text-align: left;
  position: absolute;
  padding: 10px;
  width: 250px;
  top: 0;
  font-size: 12px;
  line-height: 1.75;
  display: block;
  background: rgb(0 0 0 / 60%);
  border-radius: 3px;
  color: rgb(255 255 255 / 80%);
}

.section-info.left::before,
.section-info.right::before,
.section-info.bottom::before {
  content: "";
  position: absolute;
  top: 40%;
  display: block;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
}

.form .section-info.left {
  left: -325px;
}

.section-info.left::before {
  right: -10px;
  border-left: 10px solid rgb(0 0 0 / 60%);
}

.section-info.right {
  right: -325px;
}

.section-info.right::before {
  left: -10px;
  border-right: 10px solid rgb(0 0 0 / 60%);
}

.section-info.bottom::before {
  top: -10px;
  border-bottom: 10px solid rgb(0 0 0 / 80%);
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: initial;
}

/* Submit button info message */

.section-info.last {
  top: -50%;
}

.form footer {
  background: #eae9e9;
  width: 485px;
  padding: 15px 40px;
  margin: 0 0 -40px -40px;
  border-radius: 0 0 3px 3px;
  color: #666;
  font-size: 12px;
  text-align: center;
}

.form footer a {
  color: #333;
  text-decoration: none;
}

.form h2.success {
  font-size: 40px;
  margin-bottom: 40px;
  padding-top: 20px;
}

.form .tomster {
  position: absolute;
  top: 0;
  z-index: -1;
  width: 140px;
  right: -30px;
  animation-name: peek;
  animation-duration: 3s;
  animation-fill-mode: forwards;
}

.form .registered .icon-success {
  font-size: 160px;
  color: #a5a5a5;
  margin-bottom: 15px;
}

.validated-input {
  position: relative;
}

.validated-input .valid-input {
  position: absolute;
  right: 15px;
  top: 11px;
  font-size: 12px;
  color: #646262;
}

.validated-input .input-error {
  font-size: 12px;
}

.validated-input .input-error .error,
.validated-input .input-error .warning {
  padding: 8px 5px 0 0;
  text-align: left;
}

.validated-input .input-error .error {
  color: rgb(255 65 31);
}

.validated-input .input-error .warning {
  color: rgb(255 165 31);
}

a.show-code {
  cursor: pointer;
}

@keyframes peek {
  from {
    top: 0;
  }

  to {
    top: -130px;
  }
}

@keyframes peek {
  from {
    top: 0;
  }

  to {
    top: -130px;
  }
}
