{{! template-lint-disable }}

<div class="navbar">
  <LinkTo @route='index' class='navbar-brand'>
    <img src='images/ember-logo.png' alt=''>
    <span>CP Validations</span>
  </LinkTo>

  <a href='https://github.com/adopted-ember-addons/ember-cp-validations' class='fa fa-github github'></a>
</div>

<div class='content'>
  {{outlet}}
</div>
