{{#bs-navbar fluid=true collapsed=true as |navbar|}}
  <div class="navbar-header">
    {{navbar.toggle}}
    {{#link-to 'index' class='navbar-brand'}}
      <img src='images/ember-logo.png' alt=''>
      <span>CP Validations</span>
    {{/link-to}}
  </div>

  {{#navbar.content}}
    {{#navbar.nav class="navbar-right" as |nav|}}
      {{#nav.dropdown as |dd|}}
        {{#dd.toggle}}Documentation <span class="caret"></span>{{/dd.toggle}}
        {{#dd.menu as |ddm|}}
          {{#ddm.item}}<a href='docs'>v3.x</a>{{/ddm.item}}
          {{#ddm.item}}<a href='https://rawgit.com/offirgolan/ember-cp-validations/c08fedbf3dcfff1e8904a6469c8defd1fc2bfdf5/docs/index.html'>v2.x</a>{{/ddm.item}}
        {{/dd.menu}}
      {{/nav.dropdown}}
      {{#nav.item}}<a href='https://github.com/offirgolan/ember-cp-validations' class='fa fa-github github'></a>{{/nav.item}}
    {{/navbar.nav}}
  {{/navbar.content}}
{{/bs-navbar}}

<div class='content'>
  {{outlet}}
</div>
